{% extends 'layout.html' %}

{% block body %}
    <h1>{{ app_data['description'] }}</h1>

    <h2>About page</h2>

    <p class="lead">
        Giyoung's BigData Final Project<br>
        This blank will be used for introducing projects
    </p>
    <hr>
    <div align = 'center'>
         <p>
            mind map : 개선 구조
        </p>
            <img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcjBx4a%2FbtrGbuGJN6p%2FTzpcfvuXakSE1IjjkktfCk%2Fimg.png" width="1200px" height="500px">
        <p>
            mind map : 개선 방향
        </p>
            <img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb4EVrq%2FbtrFZpltmaH%2FqLnen2gfCmCd9AKyDkS2Lk%2Fimg.png" width="900px" height="500px">
    </div>
{% endblock %}
