{% extends 'layout.html' %}

{% block body %}
    <h1>{{ app_data['description'] }}</h1>

    <h2>About page</h2>

    <p class="lead">
        Giyoung's BigData Final Project<br>
        This blank will be used for introducing projects
    </p>
    <hr>
    <div align = 'center'>
         <p>
            mind map : 개발 구조
        </p>
            <img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fca2ctf%2FbtrGyOxPxif%2FEJCdDdks6EwPzu7FeeUXF0%2Fimg.png" width="1200px" height="500px">
        <p>
            mind map : 개선 방향
        </p>
            <img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F7dWmy%2FbtrGFJcIUpW%2FkH6leGEVY83joZ1KTMXdBk%2Fimg.png" width="900px" height="500px">
        <p>
            <b>
            최종 화면
            </b>
        </p>
            <img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F649GM%2FbtrGKbTByWA%2FMCKSWCJKVulEUNdLWSnxd1%2Fimg.png">
    </div>
{% endblock %}
