{% extends 'layout.html' %}

{% block body %}
<h1>{{ app_data['description'] }}</h1>

<h2>Service2 page</h2>

<br>

{% for i in snippet %}

<div align="center">
    <table class="table table-striped">
        <thead>
        <tr style="vertical-align:middle" align="center">
            <th scope="col">###</th>
            <th scope="col">Viedo</th>
            <th scope="col">상품 정보</th>
        </tr>
        </thead>
        <tbody>
        <tr style="vertical-align:middle" align="center">
            <th scope="row" style="vertical-align:middle" align="center">1</th>
            <!-- video section -->
            <th style="vertical-align:middle" align="center">
                <div class="video-container">
                    <iframe width="320" height="180" src="https://www.youtube.com/embed/{{i['id']}}" frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </th>
            <!-- search result section -->
            <td style="vertical-align:middle" align="center">
                <table class="table table-striped">
                    <thead>
                    <tr style="vertical-align:middle" align="center">
                        <th scope="col">
                            네이버랭킹 검색 첫 번째 결과
                        </th>
                        <th scope="col">
                            네이버 쇼핑 리뷰 긍부정
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="vertical-align:middle" align="center">
                        <td>
                            {% for idx in range(0,len) %}

                            {{ search_list[idx] }}
                            <br>
                            <img src={{search_list_src[idx]}}>
                            <br>
                            {{ search_list_price[idx] }}

                            {% endfor %}
                        </td>
                        <td>
                            {{ positive_result }}
                            <br>
                            {{ negative_result }}
                        </td>
                    </tr>
                    <tr style="vertical-align:middle" align="center">
                        <td>
                            <b>
                                해쉬태그(추천 시스템)
                            </b>
                            <br>
                            (영상에서 추출된 자막 기반)
                            <br><hr>
                            {% for mmr in result_mmr %}
                            {{ '#' + mmr }}<br>
                            {% endfor %}
                        </td>
                        <td>blank</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="vertical-align:middle" align="center">
            <th scope="row">2</th>
            <td>2행 1열</td>
            <td>2행 2열</td>
        </tr>
        </tbody>
    </table>
</div>


{% endfor %}

{% endblock %}