{% extends 'layout.html' %}

{% block body %}
<h1>{{ app_data['description'] }}</h1>

<h2>Service2 page</h2>

<br>

{% for i in snippet %}

<div align="center">
    <table class="table table-striped">
        <thead>
        <tr style="vertical-align:middle" align="center">
            <th scope="col">###</th>
            <th scope="col">Viedo</th>
            <th scope="col">상품 정보</th>
        </tr>
        </thead>
        <tbody>
        <tr style="vertical-align:middle" align="center">
            <th scope="row" style="vertical-align:middle" align="center">1</th>
            <!-- video section -->
            <th style="vertical-align:middle" align="center">
                <div class="video-container">
                    <iframe width="320" height="180" src="https://www.youtube.com/embed/{{i['id']}}" frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </th>
            <!-- search result section -->
            <td style="vertical-align:middle" align="center">
                <table class="table table-striped">
                    <thead>
                    <tr style="vertical-align:middle" align="center">
                        <th scope="col">
                            <span style='font-size:50px;'>&#10024;</span>
                            <br>
                            네이버랭킹 검색 첫 번째 결과
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="vertical-align:middle" align="center">
                        <td>
                            {% for idx in range(0,len) %}

                            {{ search_list[idx] }}
                            <br>
                            <img src={{search_list_src[idx]}}>
                            <br>
                            {{ search_list_price[idx] }}

                            {% endfor %}

                            <hr>
                            <b>
                                <span style='font-size:50px;'>&#10069; &#10069; &#10069;</span>
                                <br>
                                네이버 최저가
                            </b>
                            {{ result_cheapest|safe }}

                        </td>
                    <tr style="vertical-align:middle" align="center">
                        <td>
                            <b>
                                <span style='font-size:50px;'>&#11088; &#11088; &#11088;</span>
                                <br>
                                리뷰 긍부정
                            </b>
                            <br>
                            (네이버 쇼핑 리뷰)
                            <br>
                            <hr>
                            <span style='font-size:50px;'>&#128077;</span>
                            <span style="font-size:1.5em;  color: green;">
                            {{ positive_result }}
                            </span>
                            <br>
                            <span style='font-size:20px;'>&#128078;</span>
                            {{ negative_result }}

                            <hr>

                            <div class="card">
                                <div class="card-header">
                                    Reivew
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p style="font-size:10px">{{ print_review }}</p>
                                        <footer class="blockquote-footer" style="font-size:10px">구매자 A
                                            <cite title="Source Title">
                                                네이버 쇼핑몰
                                            </cite>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="vertical-align:middle" align="center">
                        <td>
                            <span style='font-size:50px;'>&#128488;</span>
                            <br>
                            <b>
                                해쉬태그(추천 시스템)
                            </b>
                            <br>
                            (영상에서 추출된 자막 기반)
                            <br>
                            <hr>
                            <p class="text-warning bg-dark">
                                {% for mmr in result_mmr %}
                                {{ '#' + mmr }}<br>
                                {% endfor %}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>


{% endfor %}

{% endblock %}